<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" 
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

    <http  auto-config="true" create-session="stateless" entry-point-ref="digestEntryPoint">
        <intercept-url pattern="/admin**" access="ROLE_ADMIN" />
         <custom-filter ref="digestFilter" after="BASIC_AUTH_FILTER"/>
    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider>
            <user-service id="userService">
                <user name="admin" password="qwerty" authorities="ROLE_ADMIN" />
            <user name="user" password="user" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
    
    <beans:bean id="digestFilter" class="org.springframework.security.web.authentication.www.DigestAuthenticationFilter">
        <beans:property name="userDetailsService" ref="userService"/>
        <beans:property name="authenticationEntryPoint" ref="digestEntryPoint"/>
    </beans:bean>
    <beans:bean id="digestEntryPoint" class="org.springframework.security.web.authentication.www.DigestAuthenticationEntryPoint">
        <beans:property name="realmName" value="Custom Realm Name"/>
        <beans:property name="key" value="acegi"/>
        <beans:property name="nonceValiditySeconds" value="10"/>
    </beans:bean>
    
    <!--Basic-->
<!--    <http auto-config="false" entry-point-ref="authenticationEntryPoint">
        <intercept-url pattern="/admin**" access="ROLE_USER" />
         <custom-filter ref="basicAuthenticationFilter" position="BASIC_AUTH_FILTER"/>
    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider>
            <user-service>
                <user name="admin" password="qwerty" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>
    
    <beans:bean id="basicAuthenticationFilter"
                class="org.springframework.security.web.authentication.www.BasicAuthenticationFilter">
        <beans:property name="authenticationManager" ref="authenticationManager"/>
        <beans:property name="authenticationEntryPoint" ref="authenticationEntryPoint"/>
    </beans:bean>

    <beans:bean id="authenticationEntryPoint"
                class="org.springframework.security.web.authentication.www.BasicAuthenticationEntryPoint">
        <beans:property name="realmName" value="test"/>
    </beans:bean>-->
    
</beans:beans>